h1.yes {
  font-size: 72pt;
  margin: auto;
  text-align: center;
  color: green;
  text-transform: uppercase;
  }
  
  h1.no {
  font-size: 72pt;
  margin: auto;
  text-align: center;
  color: red;
  text-transform: uppercase;
  }
  
  h1[class='not yet'] {
      font-size: 72pt;
      margin: auto;
      text-align: center;
      color:orange; 
      text-transform: uppercase;
  }
  
  h1.sport {
    text-align: center;
  }
  
  table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other on screens that are smaller than 600 px */
  @media screen and (min-width: 800px) {
    .column {
      flex: 1;
    }
  } 